@import url(./style.css);

#postDetail {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.post-title {
    font-size: 2em;
    margin-top: 50px;
}

.post-media {
    max-width: 100%;
    width: 1200px;
    height: 500px;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 15px;
}

.creator-details {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.creator-details p {
    margin-right: 20px;
    margin-bottom: 10px;
}

.post-body {
    font-size: 1.8em;
    line-height: 1.8;
    width: 70%;
    margin: 20px auto;
}

.edit-button {
    background-color: #166702;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.edit-button:hover {
    background-color: #02a70b;
}

@media screen and (max-width: 1000px) {
    #postDetail {
        max-width: 100%;
    }
    .post-media {
        width: 90%;
    }
}
@media screen and (max-width: 800px) {
    .post-title {
        font-size: 1.5em;
    }
    .post-body {
        font-size: 1.3em; 
    }
    .creator-details {
        display: block;
    }
    .creator-details p {
        margin-right: 0;
    }
}