body {
    margin: 0;
    padding: 0;
}



header {
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo {
    flex-grow: 1;
}

.logo img {
    width: 200px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 50px;
    font-size: 2em;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(188, 154, 17);
}

/* Footer styles */
footer {
    background-color: #5b4545;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-nav {
    margin: 0 20px;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
}

.footer-nav ul li {
    display: inline;
    margin-left: 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 700px) {
    .logo,
    nav {
        width: 100%;
        text-align: center; 
    }

    nav ul {
        justify-content: center; 
    }

    nav ul li {
        margin-right: 10px; 
    }
}